surya-ocr
langchain
langchain-google-genai
langchain-huggingface
langchain-chroma
python-dotenv
chromadb
pypdf
pillow
requests
httpx
notion-client
pdfplumber
langchain-text-splitters
sentence-transformers
